PORT=3000
NODE_ENV=development

DB_URL=your_mongodb_connection_url

INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SIGNING_KEY=your_inngest_signing_key

STREAM_API_KEY=7mwq56wa6smv
STREAM_API_SECRET=9753zm9c5bnruxuj428sjv42xn5a9e9ng5mmg5692tuea5y2rvf6gvv9f7bfvq6h

CLERK_PUBLISHABLE_KEY=pk_test_bG92aW5nLW1vcmF5LTg1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=pk_test_bG92aW5nLW1vcmF5LTg1LmNsZXJrLmFjY291bnRzLmRldiQ

CLIENT_URL=http://localhost:5173